*{
    font-family: Arial;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#registration{
    display: flex;
    justify-content: center;
}
#header{
    padding-bottom: 10px;
    border-bottom: solid;
}
#title_head{
    font-size: 18pt;
    font-style: bold;
}
