<!DOCTYPE HTML>
<html>
    <head>
    </head>
    <body>
    {% extends "header.html" %}
    {% block content %}
        <div class="container">
            <div id="registration">
                <form method="POST">
                    {% module xsrf_form_html() %}
                    <h3>Регистрация</h3>
                    <p>Логин</p>
                    <input type="text" name="username" id="username">
                    <p>Пароль</p>
                    <input type="password" name="password" id="password"><br><br>
                    <input type="submit" name="submitbutton" value="Зарегистрироваться">
                    {% if error == 1 %}
                    <p class="error">Не все поля заполнены</p>
                    {% end %}
                    {% if error == 2 %}
                    <p class="error">Пользователь с таким логином уже существует</p>
                    {% end %}
                    {% end %}
                </form>
            </div>
        </div>
    </body>
</html>